.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding: 0;
}

.accordionTrigger {
  width: 100%;
  padding: 18px 24px;
  background-color: #ef1a2e;
  color: white;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, padding 0.3s;
}

.accordionTrigger:hover {
  background-color: #bb2025;
  padding: 18px 28px;
}

.accordionContent {
  padding: 0 16px;
  background-color: #ffffff00;
  font-size: 15px;
  font-style: italic;
  color: #333;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-out;
}

.accordionContent.open {
  height: auto;
  opacity: 1;
  padding: 18px 24px;
  transform: translateY(0);
}

.accordionItem:last-child {
  border-bottom: none;
}

.arrow {
  transition: transform 0.3s ease-in-out;
  font-size: 16px;
}

.arrow.open {
  transform: rotate(180deg);
}
