.backToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #ff417a, #f34741);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 24px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  transform: translateY(20px);
}

.backToTopButton:hover {
  background-color: #e93b41;
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgba(233, 28, 35, 0.5);
  filter: brightness(1.2);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, filter 0.3s ease;
}

.backToTopButton.visible {
  opacity: 1;
  transform: translateY(0); /* Moves into view */
}

.backToTopButton.hidden {
  opacity: 0;
  transform: translateY(20px); /* Moves out of view */
}

.icon {
  transform: rotate(-90deg);
}
