.backToTopButton {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #E68787;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }
  
  .backToTopButton:hover {
    background-color: #cc0000;
  }
  
  .icon {
    transform: rotate(-90deg); 
  }
  