@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.pageWrapper {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

.ThreeScene {
  overflow-x: hidden;
  position: absolute;
}

/* Gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 100% 30%;
  }

  50% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 100% 30%;
  }
}

.HomeContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem;
  /* background: linear-gradient(to top, #d9e1e7, #eeeee4, #809ab8); */
  background: linear-gradient(
    180deg,
    #92a2f3 0%,
    #9dbdf8 20%,
    #98b6db 40%,
    #ffffff 100%
  );
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease-in-out infinite;
  position: relative;
  overflow: hidden;
  /* font-family: "Fahkwang", sans-serif; */
}

.HomeContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(219, 245, 255, 0.7);
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  z-index: 3;
}

.textSection {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1%;
  font-family: "Fahkwang", sans-serif;
  font-style: italic;
  z-index: 2;
}

.ThreeScene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.name {
  font-size: 8rem;
  font-weight: 700;
  margin: 0;
  color: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 3rem;
  color: #353535;
  margin-bottom: 8%;
}

/* Update the button container styles */
.buttonSection,
.mobileButtonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0rem 3rem 2rem 2rem;
  width: auto; /* Remove fixed width to allow centering */
}

/* Common button styles */
.sponsorButton,
.donateButton {
  padding: 1rem 1.5rem;
  min-width: 200px;
  font-size: 1.5rem;
  white-space: nowrap; /* Prevent text wrapping */
  text-align: center;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  font-family: "Fahkwang", sans-serif;
  font-weight: 700;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  margin: 0; /* Remove extra margins */
}

/* Sponsor button specific styles */
.sponsorButton {
  background: linear-gradient(135deg, #ff417a, #f34741);
  color: #ffffff;
  border: none;
}

.sponsorButton:hover {
  background-color: #e91c23;
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgba(233, 28, 35, 0.5);
  filter: brightness(1.2);
}

/* Donate button specific styles */
.donateButton {
  background: linear-gradient(135deg, rgb(65, 105, 225), rgb(57, 51, 247));
  color: #ffffff;
  border: none;
}

.donateButton:hover {
  background-color: #4169e1;
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgba(65, 105, 225, 0.5);
  filter: brightness(1.2);
}

.backgroundContainer {
  background: linear-gradient(150deg, #2e2e2e, #0c0c0c);
}

.aboutContainer {
  /* background-color: #212121; */
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 12rem 2rem;
  gap: 1rem;
}

.aeacContainer {
  /* background-color: #212121; */
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 12rem 4rem;
  gap: 1rem;
}

.aboutImage {
  width: 100%;
  max-width: 80vw;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out;
}

.aboutImage:hover {
  transform: scale(1.03);
}

.aboutText {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.aboutText h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #e0e0e0;
  /* font-style: italic; */
  letter-spacing: 2px;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #eb1d25;
  text-underline-offset: 16px;
}

.aboutText p {
  font-size: 1.2rem;
  line-height: 2;
  color: #e0e0e0;
  text-align: left;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.description {
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem 0 2rem;
  text-align: center;
}

.infoBoxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.infoBox {
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.infoBox:hover {
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.submitButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.galleryContainer {
  padding: 2rem;
  background-color: #f0f0f0;
  text-align: center;
  position: relative;
}

.galleryTitle {
  font-size: 4rem;
  font-weight: 700;
  /* font-style: italic; */
  color: #000000;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #eb1d25;
  text-underline-offset: 8px;
}

.gallerySubtitle {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 2rem;
  /* Added margin for spacing */
}

.slideContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide.active {
  opacity: 1;
}

.uavImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.uavName {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 0.5rem;
}

.control {
  background: none;
  /* Remove background */
  color: white;
  /* Set text color to white */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  /* Ensure the control buttons are above the carousel */
  font-size: 2rem;
  transition: color 0.3s;
}

.control:hover {
  color: #e68787;
  /* Change color on hover */
}

.controlLeft {
  position: absolute;
  left: -60px;
  /* Position outside the carousel */
}

.controlRight {
  position: absolute;
  right: -60px;
  /* Position outside the carousel */
}

.control:disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  color: white;
  text-align: left;
}

.uavDescription {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
}

.control:first-of-type {
  left: 10px;
}

.control:last-of-type {
  right: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.activeDot {
  background-color: #333;
}

.cloudContainer {
  position: relative;
  width: 100%;
  height: 0px;
  overflow: visible;
  background-color: #212121;
}

.cloudLeft,
.cloudRight {
  position: absolute;
  width: 50vw;
  height: auto;
  background: url("/images/cloud.png") no-repeat;
  background-size: contain;
  will-change: transform;
}

.cloudLeft {
  bottom: -48px;
  left: -20px;
  z-index: 1;
}

.cloudRight {
  bottom: -100px;
  right: -100px;
  z-index: 2;
}

.backgroundSection {
  background: linear-gradient(165deg, #2e2e2e, #0c0c0c);
}

.sponsorSection {
  padding: 4rem 2rem;
  text-align: center;
}

.sponsorSection h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #e0e0e0;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #eb1d25;
  text-underline-offset: 8px;
}

/* FAQ Section */
.faqSection {
  padding: 4rem 2rem;
  text-align: center;
}

.faqSection h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #e0e0e0;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #eb1d25;
  text-underline-offset: 8px;
}

@keyframes moveCloudLeft {
  0% {
    transform: translateX(0) translateY(-50%);
  }

  100% {
    transform: translateX(-400px) translateY(-50%);
  }
}

@keyframes moveCloudRight {
  0% {
    transform: translateX(0) translateY(-50%);
  }

  100% {
    transform: translateX(200px) translateY(-50%);
  }
}

.chevron {
  width: 60px;
  height: 60px;
}

/* Media Queries for Mobile and Tablet */
@media (max-width: 1500px) {
  .aboutContainer {
    padding: 4rem;
  }

  .aeacContainer {
    padding: 4rem;
  }

  /* .aboutText {
    padding: 0rem;
  } */
}

@media (max-width: 1100px) {
  .HomeContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textSection {
    align-items: center;
    margin-left: 0;
  }

  .name {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .buttonSection {
    justify-content: center;
    margin-bottom: 2rem;
    z-index: 3;
  }

  .sponsorButton,
  .donateButton {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .cloudContainer {
    height: 50px;
    /* Adjust height for mobile */
  }

  .cloudLeft {
    bottom: -20%;
    /* Higher position */
  }

  .cloudRight {
    bottom: -70%;
    /* Higher position */
  }

  .aboutContainer {
    padding: 1rem;
    flex-direction: column;
    /* Stack elements vertically */
  }

  .aboutText h1 {
    font-size: 2.8rem;
  }

  .aboutText p {
    font-size: 1.1rem;
  }

  .aeacContainer {
    padding: 1rem;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .chevron {
    width: 30px;
    height: 30px;
  }

  .name {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .buttonSection {
    display: none;
    /* Hide the desktop button section in mobile mode */
  }

  .sponsorButton,
  .donateButton {
    font-size: 1rem;
    padding: 0.7rem;
  }

  .uavName {
    font-size: 2rem;
    /* Smaller title in the carousel */
  }

  .uavDescription {
    font-size: 0.8rem;
    /* Smaller text in the carousel */
  }

  .aboutText h1 {
    font-size: 2.5rem;
  }

  .aboutText p {
    font-size: 1rem;
  }

  .galleryTitle {
    font-size: 2.5rem;
  }

  .faqSection h2 {
    font-size: 2.5rem;
  }

  .buttonSection,
  .mobileButtonSection {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 9999;
  transition: opacity 1s ease-out;
  opacity: 1;
  pointer-events: all;
}

.fadeOut {
  opacity: 0;
  pointer-events: none; /* Prevents interaction after fade */
}

.loaderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 50%;
  height: auto;
  margin-bottom: 4em;
}
