@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.pageWrapper {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.HomeContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  background: linear-gradient(to top, #d9e1e7, #eeeee4, #809ab8); /* More intense gradient background */
  position: relative;
  overflow: hidden;
  font-family: 'Fahkwang', sans-serif;
}

.HomeContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(219, 245, 255, 0.7);
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.textSection {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1%;  
  font-family: 'Fahkwang', sans-serif;
  z-index: 2;
}

.name {
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
  color: #333;
  font-family: 'Fahkwang', sans-serif;
}

.subtitle {
  font-size: 3rem;
  color: #666;
  margin-bottom: 8%;
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.mobileButtonSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.sponsorButton {
  flex: 2;
  padding: 0.75rem 1.5rem;
  margin-bottom: 25%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
  color: #212121;
  background-color: #e68787;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
  text-align: center;
  font-family: 'Fahkwang', sans-serif;
  z-index: 2;
}

.sponsorButton:hover {
  background-color: #c26161;
}

.aboutContainer {
  background-color: #212121;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 12rem; /* Reduced padding */
  color: #e68787;
  font-family: 'Fahkwang', sans-serif;
  gap: 1rem; /* Reduced gap */
}

.aboutImage {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.aboutText {
  max-width: 90%; /* Adjusted width */
  color: #e68787;
  margin: 0 auto;
  padding: 0 1rem;
}

.aboutText h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #e68787;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

.aboutText p {
  font-family: Arial, sans-serif; /* Changed to Arial */
  font-size: 1.5rem;
  line-height: 2;
  color: #e0e0e0;
  text-align: justify;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.description {
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem 0 2rem;
  text-align: center;
}

.infoBoxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.infoBox {
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.infoBox:hover {
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.submitButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.galleryContainer {
  padding: 2rem;
  background-color: #f0f0f0;
  text-align: center;
  position: relative;
}

.galleryTitle {
  font-size: 4rem;
  color: #e68787;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-family: 'Fahkwang', sans-serif;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 2rem; /* Added margin for spacing */
}

.slideContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide.active {
  opacity: 1;
}

.uavImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.uavName {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 0.5rem;
}

.control {
  background: none; /* Remove background */
  color: white; /* Set text color to white */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10; /* Ensure the control buttons are above the carousel */
  font-size: 2rem;
  transition: color 0.3s;
}

.control:hover {
  color: #e68787; /* Change color on hover */
}

.controlLeft {
  position: absolute;
  left: -60px; /* Position outside the carousel */
}

.controlRight {
  position: absolute;
  right: -60px; /* Position outside the carousel */
}

.control:disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  color: white;
  text-align: left;
}

.uavDescription {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
}

.control:first-of-type {
  left: 10px;
}

.control:last-of-type {
  right: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.activeDot {
  background-color: #333;
}

.cloudContainer {
  position: relative;
  width: 100%;
  height: 40px; /* Increased height */
  overflow: visible;
  background-color: #212121; /* Light sky blue background */
}

.cloudLeft, .cloudRight {
  position: absolute;
  width: 50%;
  height: auto;
  background: url('/images/cloud.png') no-repeat;
  background-size: contain;
}

.cloudLeft {
  bottom: -50%; /* Higher position */
  left: -20px; /* Offset to the left */
  z-index: 1;
}

.cloudRight {
  bottom: -300%; /* Higher position */
  right: -100px; /* Offset to the right */
  z-index: 1;
}

@keyframes moveCloudLeft {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(-400px) translateY(-50%);
  }
}

@keyframes moveCloudRight {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(200px) translateY(-50%);
  }
}

.chevron {
  width: 60px;
  height: 60px;
}

/* Media Queries for Mobile and Tablet */
@media(max-width: 1500px){
  .aboutContainer {
    padding: 4rem;
  }
  /* .aboutText {
    padding: 0rem;
  } */
}

@media (max-width: 1100px) {
  .HomeContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textSection {
    align-items: center;
    margin-left: 0;
  }

  .name {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .buttonSection {
    justify-content: center;
    margin-bottom: 2rem;
  }

  .sponsorButton {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  .cloudContainer {
    height: 50px; /* Adjust height for mobile */
  }

  .cloudLeft {
    bottom: -20%; /* Higher position */
  }

  .cloudRight {
    bottom: -70%; /* Higher position */
  }

  .aboutContainer {
    padding: 1rem;
    flex-direction: column; /* Stack elements vertically */
  }

  .aboutText h1 {
    font-size: 3rem;
  }

  .aboutText p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .chevron {
    width: 30px;
    height: 30px;
  }

  .name {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .buttonSection {
    display: none; /* Hide the desktop button section in mobile mode */
  }

  .sponsorButton {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .uavName {
    font-size: 2rem; /* Smaller title in the carousel */
  }

  .uavDescription {
    font-size: 0.8rem; /* Smaller text in the carousel */
  }

  .aboutText h1 {
    font-size: 2.5rem;
  }

  .aboutText p {
    font-size: 1rem;
  }

  .galleryTitle {
    font-size: 2.5rem;
  }
}