/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(28, 28, 28, 0.9);
  /* Slightly opaque background */
  backdrop-filter: blur(10px);
  /* Adds a blur effect */
  padding: 1rem 8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transform: translateY(-100%);
  /* Initially hidden above the screen */
  transition: transform 0.5s ease;
  /* Smooth transition when shown */
}

.navbar.show {
  transform: translateY(0);
  /* Moves down when scrolled past the second div */
}

.logoContainer {
  position: relative;
  height: 40px;
  width: 160px;
  transition: width 0.3s ease-in-out;
}

.logo {
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Link Buttons */
.link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s ease;
}

.link span {
  position: relative;
}

/* Underline effect */
.link span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e91c23;
  transition: width 0.5s ease;
}

.link:hover span::after {
  width: 100%;
  /* Underline stretches to the width of the text */
}

/* Active link styling to keep underline */
.activeLink .link span::after {
  width: 100%;
  /* Keep the line visible for active links */
}

/* Link wrapper styles */
.linkWrapper {
  display: inline-block;
  margin: 0px 6px;
}

.activeLinkWrapper {
  padding: 5px 10px;
}

.sponsorButton {
  background-color: #e91c23;
  padding: 10px 8px;
  border-radius: 50px;
  margin-left: 4px;
  transition: all 0.3s ease-in-out;
}

.sponsorButton:hover {
  background-color: #e68787;
  background: linear-gradient(to right, #00b5d8, #4e9ff3);
  box-shadow: 0 4px 15px rgba(0, 181, 216, 0.5);
  transform: scale(1.05);
}

.sponsorLink {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
}

.chevron {
  margin-left: 3px;
  display: inline-flex;
}

/* Tablet - max-width: 900px */
@media (max-width: 900px) {
  .navbar {
    padding: 1rem 4rem;
  }

  .logoContainer {
    width: 60px;
  }

  .linksContainer {
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    margin-top: 1rem;
  }

  .link {
    font-size: 14px;
  }
}

/* Mobile - max-width: 480px */
@media (max-width: 480px) {
  .logoContainer {
    width: 50px;
  }

  .linksContainer {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1rem;
  }

  .link {
    font-size: 12px;
  }
}
