.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;

  /* Background image */
  /* background: linear-gradient(to bottom, #131313ad, #171717); */
  background: #171717;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBar {
  width: 25%;
  min-width: 300px;
  margin-top: 1.2rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  background-color: #27272a;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}

/* .searchBar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
}

.searchBar::placeholder {
  color: #bbb;
} */

.searchBar:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.searchBar:focus-within {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.searchBar p {
  color: #e2e2e2;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.searchBar input {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchBar input::placeholder {
  color: #bbb;
}

.searchBar input:hover {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.searchBar input:focus {
  border: 1px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* Search Results */
.searchResults {
  position: absolute;
  width: 25%;
  min-width: 300px;
  margin: 1rem -1rem;
  padding: 0.5rem;
  background-color: #27272a;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.searchResultItem {
  padding: 0.5rem;
  background-color: #27272a;
  border-radius: 8px;
  color: #e2e2e2;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.searchResultItem:hover {
  background-color: #ffffff25;
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.searchResultItem:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #eb1d25;
  text-underline-offset: 16px;
  text-align: center;
  margin: 1% 0;
}

.headerDesc {
  font-size: 1.1rem;
  color: #f0f0f0;
  line-height: 1.6;
  max-width: 50%;
  margin: 0 auto 0rem;
  text-align: center;
}

.headerDescTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f0f0f0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.message {
  font-size: 1.2rem;
  color: #757575;
}

.subteam {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  /* margin: 20px 0 40px 20px; */
  flex-direction: column;
}

.subteamContent {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: row;
}

.sidebar {
  width: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}

.sidebarText {
  font-size: 3.5rem;
  font-weight: bold;
}

.grid {
  max-width: 1200px;
  width: calc(100% - 80px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  flex-grow: 1;
  margin-left: 20px;
  justify-content: center;
}

/* Card styles */
.card {
  position: relative;
  width: 100%;
  height: 400px;
  perspective: 1000px;
  display: flex;
  align-items: center; /* Ensure contents are centered */
  justify-content: center;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .cardInner {
  transform: rotateY(-180deg);
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: block;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}

.memberImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Adjust the z-index of the front and back sides */
.cardFront {
  z-index: 1;
}

.flipped .cardFront {
  z-index: -1;
}

.cardBack {
  z-index: 2;
}

.cardBack {
  background-color: #f8f8f8;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4%;
}

.colorTop {
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 4% 8%;
  box-sizing: border-box;
}

.cardBack .presidentTag {
  background-color: #000000;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 0.75em;
  border-radius: 50px;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: -1%;
  z-index: 2;
}

.cardBack .executiveTag {
  background-color: #ffd700;
  color: black;
  padding: 4px 10px;
  font-size: 0.75em;
  border-radius: 50px;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: -1%;
  z-index: 2;
}

.cardBack .managerTag {
  background-color: #ffd700;
  color: black;
  padding: 4px 10px;
  font-size: 0.75em;
  border-radius: 50px;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: -1%;
  z-index: 2;
}

.cardBack .firstName {
  font-weight: lighter;
  font-size: 1.25em;
  color: #ffffff;
  z-index: 2;
  margin-bottom: -4%;
}

.cardBack .lastName {
  font-weight: 800;
  font-size: 2.5em;
  color: #ffffff;
  z-index: 2;
  margin-left: -1%;
  margin-bottom: -2%;
}

/* Adjust font size for longer names */
.cardBack .lastName.medium {
  font-size: 1.9em;
}

.cardBack .lastName.small {
  font-size: 1.6em;
}

.cardBack .extendedDescription {
  font-size: 0.9rem;
  color: #555;
  margin-top: 15px;
  text-align: left;
  line-height: 1.5;
  padding: 0 8%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: top;
  justify-content: center;
  height: 100%;
}

.cardBack .linkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
  width: 50%;
  box-sizing: border-box;
  z-index: 2;
}

.cardBack .linkButton:hover {
  background-color: #0056b3;
}

/* CardFront elements */
.cardFront::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}

.cardFront {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #d3d3d3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8%;
  text-align: left;
}

.cardFront .turnOverIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  z-index: 4;
  width: 25px;
  height: 25px;
}

.cardFront .presidentTag {
  background-color: #000000;
  color: #ffffff;
  padding: 4px 10px;
  font-size: 0.75em;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 3%;
  margin-left: -1%;
  z-index: 2;
}

.cardFront .executiveTag {
  background-color: #6859d9;
  color: white;
  padding: 4px 10px;
  font-size: 0.75em;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 3%;
  margin-left: -1%;
  z-index: 2;
}

.cardFront .managerTag {
  background-color: #ffd700;
  color: black;
  padding: 4px 10px;
  font-size: 0.75em;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 3%;
  margin-left: -1%;
  z-index: 2;
}

.cardFront .firstName {
  font-weight: lighter;
  font-size: 1.25em;
  color: #ffffff;
  z-index: 2;
  margin-bottom: -4%;
}

.cardFront .lastName {
  font-weight: 800;
  font-size: 2.5em;
  color: #ffffff;
  z-index: 2;
  margin-left: -1%;
}

/* Adjust font size for longer names */
.cardFront .lastName.medium {
  font-size: 1.9em;
}

.cardFront .lastName.small {
  font-size: 1.6em;
}

.cardFront .description {
  font-weight: lighter;
  font-size: 0.9rem;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.extendedDescription {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}

/* Hide the front side content when the card is flipped */
.flipped .cardFront {
  visibility: hidden;
}

/* Team specific styles */
.design {
  background-color: #30b463;
}

.Member {
  background-color: #30b463;
}

.Legacy {
  background-color: blue;
}

.manufacturing {
  background-color: #e01d19;
}

.systems {
  background-color: #e94e77;
}

.software{
  background-color: #ff914d;
}

.mechanical {
  background-color: #ff3131;
}

.electrical{
  background-color: #7ed957;
}

.operations{
  background-color: #5ce1e6;
}

.administrative {
  background-color: #f6b93b;
}

.Executives {
  background-color: #6859d9;
}

.Competition {
  background-color: #121212;
}

.linesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compBox {
  width: 75%;
  padding: 20px;
  text-align: center;
}

.compText {
  font-size: 1.25rem;
  font-style: italic;
  color: #555;
  line-height: 1.6;
  margin: 0;
}

.horizontalLine {
  width: 75%;
  height: 10px;
  background-color: #333;
  border-radius: 15px;
}

.teamsPageHeader {
  height: 80vh !important;
  background-size: cover !important;
  background-position: center 25% !important;
}

.teamsPageHeader h1 {
  font-size: 5rem !important;
  margin-top: -5vh;
}

@media (max-width: 768px) {
  .container {
    padding-top: 1rem;
  }
  .headerDesc {
    max-width: 80%;
    margin-top: 0.5rem;
  }
  .subteam {
    width: 95%;
  }
  .subteamContent {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .headerDescTitle {
    font-size: 2rem;
  }

  .sidebar {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background-color: inherit;
    margin-bottom: 20px;
    writing-mode: horizontal-tb;
    transform: none;
  }

  .sidebarText {
    font-size: 3rem;
  }

  /* Background colors for different teams */
  .sidebar.design {
    background-color: #30b463;
  }

  .sidebar.manufacturing {
    background-color: #e01d19;
  }

  .sidebar.systems {
    background-color: #e94e77;
  }

  .sidebar.administrative {
    background-color: #f6b93b;
  }

  .sidebar.Executives {
    background-color: #6859d9;
  }

  .sidebar.Competition {
    background-color: #121212;
  }

  .grid {
    width: 100%;
    margin-left: 0px;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .teamsPageHeader {
    height: 60vh !important;
  }

  .teamsPageHeader h1 {
    font-size: 5rem !important;
  }
}

@media (max-width: 480px) {
  .headerDescTitle {
    font-size: 1.5rem;
  }

  .teamsPageHeader {
    height: 40vh !important;
  }

  .teamsPageHeader h1 {
    font-size: 2.5rem !important;
  }
}

.alumniList {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alumniItem {
  padding: 10px;
  border: 1px solid #444; /* Darker border */
  border-radius: 4px;
  background-color: #222; /* Dark background for alumni items */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alumniInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.alumniName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff; /* White text */
}

.alumniDates {
  font-size: 0.9rem;
  color: #aaa; /* Darker gray text */
  text-align: right;
}

.roleTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 10px;
}

.roleTag {
  display: inline-block;
  padding: 4px 10px;
  font-size: 0.75em;
  border-radius: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.roleTag.president {
  background-color: #000000;
  color: #ffffff;
}

.roleTag.executive {
  background-color: #ffd700;
  color: black;
}

.roleTag.manager {
  background-color: #ffd700;
  color: black;
}

.roleTag.design {
  background-color: #30b463;
  color: white;
}

.roleTag.manufacturing {
  background-color: #e01d19;
  color: white;
}

.roleTag.systems {
  background-color: #e94e77;
  color: white;
}

.roleTag.administrative {
  background-color: #f6b93b;
  color: black;
}

.roleTag.website {
  background-color: #007bff;
  color: white;
}

.alumniContainer {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 20px;
  min-height: 100vh; /* Ensure it covers the full viewport height */
}

@media (max-width: 768px) {
  .alumniItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .alumniDates {
    text-align: left;
    margin-top: 10px;
  }

  .roleTags {
    justify-content: flex-start;
  }
}

.yearSection {
  margin-bottom: 40px;
  text-align: center;
}

.yearTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.teamImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.yearDescription {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 20px;
  text-align: center;
}

.yearDescription p {
  margin: 10px 0;
}

.membersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.memberItem {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberName {
  font-size: 1.1rem;
  font-weight: bold;
}

.memberRole {
  font-size: 0.9rem;
  color: #aaa;
}

.yearContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.teamImageLeft {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.teamImageRight {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-left: 20px;
}

.yearDescription a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 768px) {
  .yearContent {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .teamImageLeft {
    margin-right: 20px;
  }

  .teamImageRight {
    margin-left: 20px;
  }

  .yearDescription {
    text-align: left;
  }
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timelineItem {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}

.timelineItem::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 4px solid #333;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timelineItem.left::after {
  right: -12.5px;
}

.timelineItem.right::after {
  left: -12.5px;
}

.timelineItem.left {
  left: 0;
}

.timelineItem.right {
  left: 50%;
}

.timelineContent {
  padding: 20px 30px;
  background-color: #333;
  position: relative;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 20px;
}

.timelineContent img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.timelineContent h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.timelineContent p {
  margin: 10px 0;
}

.timelineContent a {
  color: #1e90ff;
  text-decoration: underline;
  font-weight: bold;
}

.yearLabel {
  position: absolute;
  top: 15px;
  font-size: 3rem; /* Make the date larger */
  font-weight: bold;
  color: #fff; /* Make the date white */
}

.timelineItem.left .yearLabel {
  right: -150px;
}

.timelineItem.right .yearLabel {
  left: -150px;
}

.membersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.memberItem {
  background-color: #444;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberName {
  font-size: 1.1rem;
  font-weight: bold;
}

.memberRole {
  font-size: 0.9rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .timelineItem {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timelineItem.left::after,
  .timelineItem.right::after {
    left: 60px;
  }

  .timelineItem.right {
    left: 0%;
  }

  .yearLabel {
    font-size: 2rem;
  }

  .timelineItem.left .yearLabel {
    right: -60px;
  }

  .timelineItem.right .yearLabel {
    left: -60px;
  }
}

.yearTitle {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.teamImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.yearDescription {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 20px;
}

.yearDescription p {
  margin: 10px 0;
}

.yearDescription a {
  color: #1e90ff;
  text-decoration: underline;
  font-weight: bold;
}

.membersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.memberItem {
  background-color: #444;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberName {
  font-size: 1.1rem;
  font-weight: bold;
}

.memberRole {
  font-size: 0.9rem;
  color: #aaa;
}
/* Add these styles after the existing .alumniItem styles */

.alumniItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #222;
}

.alumniImageContainer {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #444;
}

.alumniImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alumniInfo {
  flex-grow: 1;
}

/* Update media query for mobile responsiveness */
@media (max-width: 768px) {
  .alumniItem {
    flex-direction: column;
    text-align: center;
  }

  .alumniImageContainer {
    margin-bottom: 15px;
  }

  .alumniInfo {
    width: 100%;
  }
}

@media (max-width: 1170px) {
  .verticalTimelineElement {
    padding: 0rem 1rem;
  }
}
