/* VehiclesDraft.module.css */

.container {
  padding: 20px 60px; /* Increased padding on left and right */
  background-color: #171717;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 4rem;
}

.vehiclesList {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.vehicleCard {
  display: flex;
  align-items: center;
  background-color: #171717;
  padding: 20px;
  flex-direction: row;
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.vehicleCard.right {
  flex-direction: row-reverse;
  margin-left: 40px;
}

.squareImage {
  width: 550px;
  height: 550px;
  object-fit: cover;
  margin-right: 0 40px;
  border-radius: 8px;
}

.textBox {
  flex: 1;
  color: #DBF5F5; /* Light blue text color for readability */
  padding: 40px;
  border-radius: 8px;
  background-color: rgba(23, 23, 23, 0.8); /* Semi-transparent background to blend */
  max-width: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 250px; /* Adjust the height value as needed */
}

.vehicleCard.right .textBox {
  margin-left: 20px;
}

.textBox h2 {
  margin: 0;
  color: #e68787; /* Heading color */
  font-size: 2rem;
}

.textBox p {
  margin: 20px 0 0;
  color: #DBF5F5;
  font-size: 1.2rem;
}

/* Animation Classes */
.vehicleCard.visible.left {
  opacity: 1;
  animation: slideInLeft 0.8s forwards;
}

.vehicleCard.visible.right {
  opacity: 1;
  animation: slideInRight 0.8s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
